<main class="min-h-screen justify-center items-center gap-64 flex max-w-screen mx-auto ">
    <aside class="space-y-10">
        <div class="w-[448px] h-[568px] bg-[#D9D9D9] justify-center items-center flex rounded-xl">
            <img src="/icons/image.svg" class="h-auto w-18" alt="">
        </div>
    </aside>
    <article class="space-y-16 max-w-xl text-[#454545]">
        <img src="/iconCanAI.svg" class="w-auto h-18 mx-auto" alt="">
        <h1 class="font-semibold text-3xl mb-2 text-center">Resultados del análisis</h1>
        <div>

<div class="grid grid-cols-2 grid-rows-8 gap-0 border rounded-2xl">
    <div class="border p-2.5 text-center font-bold rounded-tl-2xl">Nudos:</div>
    <div class="col-start-1 row-start-2 border p-2.5 text-center font-bold">Entrenudos:</div>
    <div class="col-start-1 row-start-3 border p-2.5 text-center font-bold">Distancia entre nudos:</div>
    <div class="col-start-1 row-start-4 border p-2.5 text-center font-bold">Largo de nudo:</div>
    <div class="col-start-1 row-start-5 border p-2.5 text-center font-bold">Grosor de nudo:</div>
    <div class="col-start-1 row-start-6 border p-2.5 text-center font-bold">Altura de caña (con corvatura):</div>
    <div class="col-start-1 row-start-7 border p-2.5 text-center font-bold">Altura de caña (sin corvatura):</div>
    <div class="col-start-1 row-start-8 border p-2.5 text-center font-bold rounded-bl-2xl">¿Es una caña?:</div>
    <div class="col-start-2 row-start-1 border text-center p-2.5 rounded-tr-2xl">9</div>
    <div class="col-start-2 row-start-2 border text-center p-2.5">10</div>
    <div class="col-start-2 row-start-3 border text-center p-2.5">11</div>
    <div class="col-start-2 row-start-4 border text-center p-2.5">12</div>
    <div class="col-start-2 row-start-5 border text-center p-2.5">13</div>
    <div class="col-start-2 row-start-6 border text-center p-2.5">14</div>
    <div class="col-start-2 row-start-7 border text-center p-2.5">15</div>
    <div class="border text-center p-2.5 rounded-br-2xl">16</div>
</div>
        </div>
        <div class="flex items-center gap-12  justify-center">
            <a href="" class="font-medium w-32 text-center">¿Quieres más detalles?</a>
            <button class="bg-[#0073F6] text-white flex gap-3 font-bold px-12 py-4 rounded-2xl"><a href="">Descargar informe</a></button>
        </div>
    </article>
</main>